<div class="modal fade" id="userDelete" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form id="userDeleteModal">
                    <label for="user-id-delete" hidden>
                        <input class="form-control" hidden id="user-id-delete"
                               type="text" name="id" readonly>
                    </label> <br>
                    <label class="font-weight-bold mt-3" for="user-firstName-delete">Имя:
                        <input class="form-control" placeholder="First name" id="user-firstName-delete"
                               style="height: 30px; width: 350px; margin: 0 auto" type="text" name="firstName"
                               readonly>
                    </label> <br>
                    <label class="font-weight-bold mt-3" for="user-lastName-delete">Фамилия:
                        <input class="form-control" style="height: 30px; width: 350px; margin: 0 auto"
                               type="text" id="user-lastName-delete" name="lastName" placeholder="Last name"
                               readonly>
                    </label> <br>
                    <label class="font-weight-bold mt-3" for="user-email-delete">Электронная почта:
                        <input class="form-control" id="user-email-delete" placeholder="Email" readonly
                               style="height: 30px; width: 350px; margin: 0 auto" type="text" name="email">
                    </label> <br>
                    <label class="font-weight-bold mt-3" for="user-password-delete">Пароль:
                        <input class="form-control" placeholder="Password" id="user-password-delete" type="password"
                               name="password" readonly style="height: 30px; width: 350px; margin: 0 auto">
                    </label> <br>
                    <label class="font-weight-bold mt-3" for="user-roles-delete">Role:
                        <select class="form-control form-control-sm " name="roles" multiple="multiple"
                                style="height: 50px; width: 350px; margin: 0 auto" id="user-roles-delete" disabled>

                        </select>
                    </label><br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-delete-submit">Delete</button>
            </div>
        </div>
    </div>
</div>
