<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin page</title>
</head>
<body>
<div th:insert="/fragments/navBarFragment.html"></div>
<div class="container-fluid" style="margin-top: 4%; max-height: 100%; height: 100vh; background-color: #f8f9fa">
    <div class="row">
        <div class="p-0 col-2" style="max-height: 100%; height: 100vh; background-color: #ffffff">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-admin-tab" href="/admin" sec:authorize="hasAuthority('ADMIN')"
                   role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-user-tab" href="/user" sec:authorize="hasAuthority('USER')"
                   role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col m-4">
            <h1 class="h1">Admin panel</h1>
            <ul class="nav nav-tabs mb-3 font-weight-normal" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-users-tab" data-toggle="pill" href="#usersTab" role="tab"
                       aria-controls="usersTab" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-new-user" data-toggle="pill" href="#newUser" role="tab"
                       aria-controls="newUser" aria-selected="false">New User</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="usersTab" role="tabpanel" aria-labelledby="pills-users-tab">
                    <h4 class="card-header">All users</h4>
                    <div class="card text-left">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Имя</th>
                                <th scope="col">Фамилия</th>
                                <th scope="col">Электронная почта</th>
                                <th scope="col">Роли</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody id="list-users-tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="pills-new-user">
                    <h4 class="card-header">Add new user</h4>
                    <div class="card text-center">
                        <form id="creatingForm">
                            <label class="font-weight-bold m-2" for="firstName">Имя:
                                <input class="form-control" placeholder="First name" id="firstName" style="height: 30px;
                                 width: 350px; margin: 0 auto" type="text" name="firstName">
                            </label> <br>
                            <label class="font-weight-bold m-2" for="lastName">Фамилия:
                                <input class="form-control" style="height: 30px; width: 350px; margin: 0 auto"
                                       placeholder="Last name" id="lastName" type="text" name="lastName">
                            </label> <br>
                            <label class="font-weight-bold m-2" for="email">Электронная почта:
                                <input class="form-control" placeholder="Email" id="email"
                                       style="height: 30px; width: 350px; margin: 0 auto" type="text" name="email">
                            </label> <br>
                            <label class="font-weight-bold m-2" for="userPassword">Пароль:
                                <input class="form-control" id="userPassword" type="password" name="password"
                                       style="height: 30px; width: 350px; margin: 0 auto" placeholder="Password">
                            </label> <br>
                            <label class="font-weight-bold m-2" for="user-roles-new">Role:
                                <select class="form-control form-control-sm" name="roles" multiple="multiple"
                                        style="height: 50px; width: 350px; margin: 0 auto" id="user-roles-new">
                                </select>
                            </label><br>
                            <button type="button" class="btn btn-success btn-lg m-2" id="btn-create-submit"> Добавить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="/fragments/editModalFragment.html"></div>
<div th:insert="/fragments/deleteModalFragment.html"></div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="/js/allRoles.js"></script>
<script src="/js/navBar.js"></script>
<script src="/js/userTable.js"></script>
<script src="/js/autofill_edit.js"></script>
<script src="/js/autofill_delete.js"></script>
<script src="/js/confirmEdit.js"></script>
<script src="/js/confirmDelete.js"></script>
<script src="/js/confirmCreate.js"></script>
</body>
</html>
