<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>fragment</title>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark min-height: 75rem padding-top: 4.5rem">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto text-white text-lg-center">
                <li class="nav-item active font-weight-bold" th:text="${user.getEmail()}"></li>
                <li class="nav-item">&nbsp;with roles:</li>
                <li class="nav-item " th:each="role : ${user.getRoles()}">
                    <span class="m-1" th:text="${role.getName()}"></span>
                </li>
            </ul>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn text-secondary font-weight-bold text-white-50">Logout</button>
            </form>
        </div>
    </nav>
</div>
</body>
</html>