<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User editing</title>
</head>
<body>
<div th:insert="~{fragment :: logout}"></div>
<form th:action="@{/user/edit/update}" method="post" th:object="${user}">
    <label for="id">
        <input id="id" type="hidden" name="id" th:value="*{id}">
    </label> <br>
    <label for="firstName">Имя:
        <input id="firstName" type="text" name="firstName" th:value="*{firstName}">
    </label> <br>
    <label for="lastName">Фамилия:
        <input id="lastName" type="text" name="lastName" th:value="*{lastName}">
    </label> <br>
    <label for="email">Почта:
        <input id="email" type="text" name="email" th:value="*{email}">
    </label> <br>
    <label for="userPassword">Пароль:
        <input id="userPassword" type="password" name="password" th:value="*{password}">
    </label> <br>
    <input th:id="${roles}" type="hidden" name="roles" th:value="${roles}" th:field="*{roles}"
           th:checked="${roles == user.roles}">
    </div>
    <button type="submit"> Сохранить</button>
</form>
</body>
</html>